
.p-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 300px;
}


.p-input-label {
  margin-bottom: 5px;
}


.p-input-field {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}


.p-input-explanation {
  margin-top: 5px;
}