/* Comment.css */
.comment {
  background-color: #ffffff;
  border: 2px solid #c0c0c0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.commentUser {
  font-weight: bold;
}

.commentTimestamp {
  font-size: 0.8em;
  color: #888;
}

.commentText {
  margin-top: 10px;
}