/* Comment.css */
.comment {
  position: relative;
  background-color: #ffffff;
  border: 2px solid #c0c0c0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.commentUser {
  font-weight: bold;
}

.commentText {
  margin-top: 10px;
}

.commentEditArea {
  margin-top: 10px;
}

.commentEditActions,
.commentActions {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
  margin-right: 5px;
}

.commentActions button {
  margin-left: 5px;
}

/* Add additional styles for edit mode */
.commentEditMode {
  padding-bottom: 40px; /* Make space for action buttons */
}

.commentSaveButton,
.commentCancelButton {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  cursor: pointer;
}

.commentSaveButton:hover,
.commentCancelButton:hover {
  background-color: #c1c1c1;
}

.commentEditTextArea {
  min-width: 450px;
  max-width: 450px;
  max-height: 100px;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  resize: vertical; /* Allow vertical resizing */
}



.commentTextarea {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  resize: vertical; /* Allow vertical resizing */
}