.productItem {
  background-color: #e0e0e0;
  border: 2px solid #c0c0c0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  cursor: pointer;
  border-radius: 15px;
  position: relative;
  flex-direction: column;
}

.productItemName {
    position: absolute;
  width: 170px;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #c0c0c0;

}

.productItemImage {
  width: 100%;

  height: 100%;
  object-fit: 15px;
  border-radius: 15px;
  object-fit: cover;
}

.productItem.likeCount,
.productItem.commentCount {
  margin-top: 20px; 
  font-size: 14px;
  font-weight: bold;
  color: #3131dd;
  position: absolute;
}