.manageProducts {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f5f5f5; /* Arka plan rengi */
}

.manageProductsContent {
  display: flex;
  justify-content: space-between; /* İçerik arasında boşluk bırak */
}

.manageProductsMain {
  flex-grow: 1; /* Ana içeriği esnet ve mümkün olan alanı kapla */
  padding: 20px; /* İçerik için padding */
  background: #fff; /* Ana içerik arka plan rengi */
  border-radius: 8px; /* Kenarları yuvarlat */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hafif bir gölge ekle */
}

.addProductButton {
  background-color: #5cb85c; /* Yeşil arka plan rengi */
  color: white; /* Yazı rengi */
  border: none; /* Kenarlık kaldır */
  border-radius: 4px; /* Kenarları yuvarlat */
  cursor: pointer; /* İmleç pointer yap */
  padding: 10px 20px; /* Buton için padding */
  margin-bottom: 20px; /* Alt boşluk */
  transition: background-color 0.2s; /* Renk değişim efekti */
}

.addProductButton:hover {
  background-color: #4cae4c; /* Buton üzerine gelince renk koyulaşsın */
}

.manageProductsList {
  width: 100%; /* Liste genişliği */
  border-collapse: collapse; /* Çizgileri birleştir */
  margin-bottom: 20px; /* Alt boşluk */
}

.manageProductsList th,
.manageProductsList td {
  padding: 10px; /* Hücre içi padding */
  border-bottom: 1px solid #ddd; /* Alt kenarlık */
  text-align: left; /* Yazı hizalama */
}

.manageProductsList button {
  background-color: #3498db; /* Düzenle ve Sil butonları için arka plan rengi */
  color: white; /* Yazı rengi */
  border: none; /* Kenarlık kaldır */
  border-radius: 3px; /* Kenarları yuvarlat */
  cursor: pointer; /* İmleç pointer yap */
  padding: 5px 10px; /* Buton içi padding */
  margin-right: 5px; /* Sağ boşluk */
  transition: background-color 0.2s; /* Renk değişim efekti */
}

.manageProductsList button:hover {
  background-color: #2185d0; /* Buton üzerine gelince renk koyulaşsın */
}

/* Stilin sonuna ekleyebileceğiniz genel veya ekstra stiller */