.categoryItem {
  background-color: #e0e0e0;
  border: 2px solid #c0c0c0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  cursor: pointer;
  border-radius: 15px;
  position: relative;
}

.categoryItemName {
  position: absolute;
  width: 170px;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #c0c0c0;

}

.categoryItemImage {
  width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
}