.productListItem {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.productImageWrapper {
    margin-right: 20px;
}

.productImage {
    width: 160px;
    height: 160px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 20px;
    margin-left: 20px;
}

.productInfo {
    display: flex;
    flex-direction: column;
}

.productId {
    min-width: 70px;
}

.productMerchant,
.productName,
.productDescription,
.productSubcategory,
.productPrice,
.productStock {
    margin: 3px 0;
    min-height: 20px;
    min-width: 600px;
    max-width: 600px;
}

.productActions button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.productActions button:hover {
    background-color: #449c44;
}